<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MongoDB Demo</title>
    <% include ../views/partials/header.ejs %>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>MongoDB Test</h1>
      </div>
    </div>
    <div class="container">
      <h4 class="text-success"><%= username %></h4>
      <% data.forEach(function(d) { %>
        <h2><%= d.username %><h2>
        <h4><%= d.name.first %> <%= d.name.last %></h4>
        <pre><%= JSON.stringify(d, undefined, 2) %></pre>
      <% }); %>
    </div>
  </body>
</html>
