<!DOCTYPE html>
<html>
  <head>
    <title>Reset Password</title>
    <%- include('../views/partials/header.ejs') %>
  </head>
  <body>
    <%- include('../views/partials/navbar-public.ejs') %>
    <div class="jumbotron">
      <div class="container">
        <h1>Reset Password</h1>
        <p>Enter your email address and a password reset link will be sent to you</p>
      </div>
    </div>
    <div class="container">
      <h4 class="<%= message.type %>"><%= message.content %></h4>
      <form action="/forgot/" method="post">
        <legend>Reset Password</legend>
        <fieldset>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" name="email" placeholder="username@example.com" required="true">
          </div>
        <fieldset>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-default">Clear</button>
          </div>
      </form>
    </div>
    <%- include('../views/partials/scripts.ejs') %>
  </body>
</html>
