<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <%- include('../views/partials/header.ejs') %>
  </head>
  <body>
    <% if(username) { %>
      <%- include('../views/partials/navbar-private.ejs') %>
    <% } else { %>
      <%- include('../views/partials/navbar-public.ejs') %>
    <% } %>
    <div class="jumbotron">
      <div class="container">
        <h1>Login</h1>
      </div>
    </div>
    <div class="container">
      <h4 class="text-danger"><%= message %></h4>
      <form action="/login/" method="post">
        <legend>Login</legend>
        <fieldset>
          <div class="form-group <%= error['username'] %>">
            <label for="loginUsername">Username</label>
            <input type="text" class="form-control" placeholder="username" name="loginUsername" autocomplete="username" required="true">
          </div>
          <div class="form-group <%= error['password'] %>">
            <label for="loginPassword">Password</label>
            <input type="password" class="form-control" placeholder="Password" name="loginPassword" autocomplete="current-password" required="true">
            <a href="/forgot/">Forgot your password?</a>
          </div>
        </fieldset>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-default">Clear</button>
        </div>
      </form>
    </div>
    <%- include('../views/partials/scripts.ejs') %>
  </body>
</html>
