<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register</title>
    <% include ../views/partials/header.ejs %>
  </head>
  <body>
    <% if(username) { %>
      <% include ../views/partials/navbar-private.ejs %>
    <% } else { %>
      <% include ../views/partials/navbar-public.ejs %>
    <% } %>
    <div class="jumbotron">
      <div class="container">
        <h1>Register</h1>
        <p class="text-warning">Disclaimer: This is just a demo that does not have any real purpose. Anything you enter into the form below is publicly displayed including the hashed password, so please don't enter anything sensitive.</p>
        <a class="btn btn-primary" href="/accounts/">All Accounts</a>
      </div>
    </div>
    <div class="container">
      <h4 class="<%= message['type'] %>"><%= message['content'] %></h4>

      <form action="/" method="post">
        <legend>Register</legend>
        <fieldset>
          <div class="form-group <%= error['inputFirst'] %>">
            <label for="inputFirst">First Name</label>
            <input type="text" name="inputFirst" class="form-control" placeholder="John" required="true" value=<%= data['inputFirst'] %>>
          </div>
          <div class="form-group <%= error['inputLast'] %>">
            <label for="inputLast">Last Name</label>
            <input type="text" name="inputLast" class="form-control" placeholder="Smith" required="true" value=<%= data['inputLast'] %>>
          </div>
          <div class="form-group <%= error['inputEmail'] %>">
            <label for="inputEmail">Email Address</label>
            <input type="email" name="inputEmail" class="form-control" placeholder="username@example.com" required="true" autocomplete="email" value=<%= data['inputEmail'] %>>
          </div>
          <div class="form-group <%= error['inputUsername'] %>">
            <label for="inputUsername">Username</label>
            <input type="text" name="inputUsername" class="form-control" placeholder="jsmith" required="true" autocapitalize="none" autocorrect="off" value=<%= data['inputUsername'] %>>
          </div>
          <div class="form-group <%= error['newPassword'] %>">
            <label for="newPassword1">Password <button type="button" class="btn btn-xs btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content="Password must be 8-72 characters">ℹ︎</button></label>
            <input type="password" name="newPassword1" class="form-control" autocomplete="new-password" placeholder="not 'password' please" required="true" minlength="8" maxlength="72">
          </div>
          <div class="form-group <%= error['newPassword'] %>">
            <label for="newPassword2">Confirm Password</label>
            <input type="password" name="newPassword2" class="form-control" autocomplete="new-password" placeholder="not 'password' please" required="true" minlength="8" maxlength="72">
          </div>
        </fieldset>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-default">Clear</button>
        </div>
      </form>
    </div>
    <% include ../views/partials/scripts.ejs %>
  </body>
</html>
